.btn{
    border-radius: 20px;
     width: 80px;
    //  background-color: red;
     float: right;
     margin: 0 10px;
     border: 1px solid black;
}



.accept{
    // background-color: rgba(0, 136, 169, 0.8);
    background-color: rgb(228, 63, 41);
}

.decline{
    background-color: #c1c1c1;
}