<div class="container" style="overflow: hidden;
">
    <div class="row" style="border-bottom: 2px solid #efe4e4;">
        <div class="col" style="
      border-bottom: 1px solid #efe4e4;">
            <h5 style="margin: 5px 0px 4px 9px;
         font-size: 20px;
         font-weight: 700;
         ">Confirmation</h5>
        </div>
    </div>

    <div class="row">
        <div class="col" style="
        border-bottom: 1px solid #efe4e4;">
            <h4 style="    margin-left: 8px;
           font-size: 13px;
           margin-top: 5px;
           font-weight: 600;">Are you sure you want to delete this record ? </h4>



        </div>
    </div>

    <div class="row" style="margin-top: 9px; ">
       
                <div class="col" style="float: right;">
                    <button class="btn btn-primary accept" (click) = "onAccept()">
                        Yes
                    </button>
                    <button class="btn btn-danger decline" (click) = "onDecline()">
                        No
                    </button>
                </div>
                
    </div>
</div>