<div class="card" >
    <div class="card-body">


        <div class="detailBar">
            <h2>Car's List</h2>
        </div>

        <div class="row mb-3 mt-2 searchBar">
            <div class="col">
                <input type="text" class="form-control" placeholder="Search" style="width: 50%;"
                    (input)="search_func($event)" [(ngModel)]="search_value">
            </div>
            <div class="col">
                <button class="btn btn-primary btns" style="float: right; margin-left: 10px;" (click) = "addNewCar()">+ Add Car</button>
                <button class="btn btn-primary btns" style="float: right; " (click) = "onBack()"> Back</button>
            </div>
        </div>
        <ag-grid-angular [animateRows]="true" class="ag-theme-quartz-dark" style="height: 500px; "
            (gridReady)="onGridReady($event)" [gridOptions]="gridOptions" [rowData]="rowData" [columnDefs]="colDefs"
            
                ></ag-grid-angular>

        <div class="py-2 pl-4 border-top">
            <div class="row">
                <div class="col">
                    Total Records: <strong> {{ recordCount }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>