.btn{
    font-size: 14px;
    margin-right: 10px;
    color: white;
}

// .edit{
//     background-color: #198754;
// }

// .view{
//     background-color: #0d6efd;
// }

// .delete{
//     background-color: #dc3545;
// }